.form-container {
    display: flex;
    flex-direction: column;

    max-width: 750px;

    margin: auto;
    
    padding-top: 50px;

}

button {
    margin-top: 20px;
    margin-right: 10px;
}

#btn-play:active {
    color: green;
}

#btn-toggle:active {
    color: blue;
}